# ===== Ignore everything by default =====
/*

# ===== Except these =====
!bvsimc/
!examples/
!.gitignore
!README.md
!LICENSE

# ===== But still ignore build artifacts inside bvsimc/ =====
bvsimc/**/__pycache__/
bvsimc/**/*.egg-info/
bvsimc/build/
bvsimc/dist/
.DS_Store